body, html {
    height: auto;
    transform: scale(1);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
    background: linear-gradient(#607393, #0c2d66);
}

.splash-picture {
    /* Image */
    background-image: url(Images/splash%20page.png);

    height: 35vh;
    width: 80vw;
    margin-left: 10vw;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    height: 10vh;
}

.navbar {
    background: linear-gradient(#2d2d2d, #878787);
    height: 5vh;
    width: 80vw;
    margin-left: 10vw;
    justify-content: space-around;
    display: flex;
}

.navbar a:hover {
    background: linear-gradient(#878787, #d8d8d8);
    color: black;
}

.navigation {
    height: 100%;
    width: 20vw;
    cursor: pointer;
    background-color: rgba(150, 150, 150, 0);
    text-decoration: none;
    color: yellow;
    line-height: 5vh;
    vertical-align: middle;
    margin: 0;
    padding: auto;
    text-align: center;
    display: inline-block;
    font-family: 'Ubuntu Mono', monospace;
    font-style: bold;
    font-size: 20px;
    color: white;
}

.main-body {
    background: #edf0f4;
    height: 100vh;
    width: 80vw;
    margin-left: 10vw;
}