body, html {
    height: 100%;
    transform: scale(1);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
    background: 
}

.main-parallax {
    /* Image */
    background-image: url(Images/background-temp.jpg);

    /* Height */
    height: 35vh;;
    width: 100vw;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    height: 10vh;
}

.navbar {
    background-color: #8eb4ce;
    height: 10vh;
}

.navbar a:hover {
    background: yellow;
    color: #8eb4ce;
}

.navigation {
    height: 100%;
    width: 9.75vw;
    cursor: pointer;
    background-color: rgba(150, 150, 150, 0);
    text-decoration: none;
    color: yellow;
    line-height: 10vh;
    vertical-align: middle;
    padding-right: 5%;
    padding-left: 5%;
    text-align: center;
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
    font-size: 32px;
}