body, html {
    height: 100vh;
    transform: scale(1);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
    background: linear-gradient(#607393, #0c2d66);
    background-attachment: fixed;
}

.splash-picture {
    /* Image */
    background-image: url(Images/splash%20page%20v2.png);

    height: 25vh;
    width: 80vw;
    margin-left: 10vw;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.logo {
    height: 20vh;
    position: relative;
    display: block;
    bottom: 0;
    vertical-align: middle;
    padding-top: 2vh;
    padding-left: 1vw;
}

.navbar {
    background: linear-gradient(black, #474747);
    height: 5vh;
    width: 80vw;
    margin-left: 10vw;
    justify-content: space-around;
    display: flex;
}

.navbar a:hover {
    background: linear-gradient(#474747, #686868);
    color: white;
}

.navigation {
    height: 100%;
    width: 20vw;
    cursor: pointer;
    background-color: rgba(150, 150, 150, 0);
    text-decoration: none;
    line-height: 5vh;
    vertical-align: middle;
    margin: 0;
    padding: auto;
    text-align: center;
    display: inline-block;
    font-family: 'Nova Square', sans-serif;
    font-style: bold;
    font-size: 20px;
    color: #c4c4c4;
    border-left: solid;
    border-right: solid;
    border-color: #f2f2f2;
    border-width: thin;
}

.main-body {
    background: #faf7ff;
    height: auto;
    width: 80vw;
    margin-left: 10vw;
    position: absolute;
}

.info-header {
    display: inline-block;
    width: 15vw;
    height: 2vw auto;
    float: left;
    padding: 1vw;
    padding-top: 0.5vh;
    padding-bottom: 0vh;
    margin-left: 11vw;
    margin-right: 1vw;
    margin-top: 4vh;
    margin-bottom: 0vh;
    text-align: center;
    color: #c4c4c4;
    font-size: 20px;
    font-family: 'Nova Square', sans-serif;
    background: linear-gradient(black, #474747);
}

.player-info {
    float: left;
    display: inline-block;
    margin-left: 11vw;
    margin-right: 1vw;
    margin-bottom: 0vh;
    margin-top: -0.5vh;
    padding: 1vw;
    background: #c4c4c4;
    color: black;
    width: 15vw;
    height: 10vw;
    font-size: 12px;
}

.chat-box {
    float: left;
    margin-left: 11vw;
    margin-right: 1vw;
    margin-bottom: 5vh;
    margin-top: 0vh;
    padding: 1vw;
    padding-top: 1vw;
    padding-bottom: 0;
    background: #c4c4c4;
    color: black;
    width: 15vw;
    height: 18.5vw;
    font-size: 12px;
}

.map-name {
    width: 40vw;
    height: 2vw auto;
    float: right;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    margin-right: 11vw;
    margin-top: 4vh;
    margin-bottom: 0vh;
    margin-left: 0vw;
    text-align: center;
    color: #c4c4c4;
    font-size: 20px;
    font-family: 'Nova Square', sans-serif;
    background: linear-gradient(black, #474747);
}

.map {
    float: right;
    margin-right: 11vw;
    margin-top: 0vh;
    margin-bottom: 0vh;
    margin-left: 0vw;
    padding: 0vw;
    width: 40vw;
    height: 35vw;
    background: #c4c4c4;
}
/*
.party {
    margin: 11vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
    height: 20vh;
    background: grey;
    display: inline-block;
    width: 58vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: center;
}*/