body    {
    background-color: #f2f2ed;
    background-image: url("../shared-resources/Backdrop.png");
    background-repeat: repeat-x;
    padding: 0px;
    margin: 0px;
    background-size: 1200px;
    background-attachment: fixed;
    min-width: 460px;
}

#logo   {
    height: 100px;
    width: 300px;
    margin: 10px auto;
}

@media only screen and (min-width: 768px)   {
    .narrow   {
        display: none;
    }
    .party-box  {
        width: 100%;
        padding: 0px;
        
    }
    .party-info {
        padding: 2px 6px;
    }
}

@media only screen and (max-width: 769px)   {
    .wide   {
        display: none;
    }
    .party-box  {
        width: 100px;
    }
}

.nav-top    {
    border: none;
    box-shadow: 0px 1px 5px #00000040;
}

.nav-top .container-fluid .navbar-header    {
    background: linear-gradient(#5996f7, #477dd3);
    border-bottom: 1px solid #204d93;
}

.nav-top .container-fluid .navbar-header button {
    border: 1px solid #204d9300;
    background: linear-gradient(#5996f7, #477dd3);
}

.nav-top .container-fluid .navbar-header button:hover   {
    background: linear-gradient(#204d93, #477dd3);
}

.nav-top .container-fluid .navbar-header button:active   {
    background: linear-gradient(#204d93, #477dd3);
}

.nav-bot    {
    background: linear-gradient(#5996f7, #477dd3);
    min-height: 20px;
    border: none;
    box-shadow: 0 0 0 1px #204d93;
    border-radius: 4px;
}

.nav-bot .container-fluid {
    padding: 0px;
}

.nav-bot .container-fluid .navbar-nav .dropdown a    {
    min-height: 32px;
    padding: 8px;
    text-align: center;
    color: #eaf2ff;
    border-left: 1px solid #5996f7;
    border-right: 1px solid #204d93;
    font-family: 'Aldrich';
    text-shadow: 1px 1px #204d93;
}

.nav-bot .container-fluid .navbar-nav .dropdown a:hover    {
    color: #fff;
    background: linear-gradient(#204d93, #477dd3);
    border-left: 1px solid #204d9300;
    border-right: 1px solid #204d93;
}

.nav-bot .container-fluid .navbar-nav .dropdown:last-child a    {
    border-right: none;
}

.nav-bot .container-fluid .navbar-nav .dropdown:first-child a    {
    border-left: none;
}

.nav-bot .container-fluid .navbar-nav .dropdown-toggle:active, .open .dropdown-toggle {
    background: linear-gradient(#204d93, #477dd3);
    border-left: 1px solid #204d9300!important;
    border-right: 1px solid #204d93;
}

.nav-bot .container-fluid .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-bot .container-fluid .navbar-nav .dropdown {
    width: 100%;
}

.nav-bot .container-fluid .navbar-nav .dropdown .dropdown-menu {
    width: inherit;
    padding: 0px;
    border-radius: 0px;
}

.nav-bot .container-fluid .navbar-nav .dropdown .dropdown-menu li a {
    text-align: left;
    border: none;
    color: #6983ad;
    background-color: #f4f8ff;
    text-shadow: none;
}

.nav-bot .container-fluid .navbar-nav .dropdown .dropdown-menu li a:hover {
    background-color: #EAF2FF;
    background-image: none;
}

.white-back  {
    background-color: #eaf2ff;
    margin-bottom: 24px;
    padding: 2px 0px 10px 0px;
    border-radius: 6px;
    background-color: rgba(234, 242, 255, .75);
    box-shadow: 0 0 0 3px #dae3f2, 0 0 0 4px #fff, 0px 3px 15px #00000080;
    z-index: -5;
    overflow: hidden;
}

.white-box  {
    margin: 10px -4px;
    padding: 4px 12px 16px 12px;
    background-color: #f4f8ff;
    box-shadow: 1px 1px 0 1px #dae3f2, -1px -1px 0 1px #fff;
    overflow: hidden;
    border-radius: 4px;
}

.header {
    margin-bottom: 10px;
    background: #ffb03a;
    border: 1px #558ee8;
    box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.2);
    text-align: center;
    text-decoration: none;
    font-family: 'Aldrich';
    font-size: 18px;
    font-weight: 900;
    padding: 6px;
    border-radius: 2px;
    color: white;
    text-shadow: 1px 1px #c17400;
    border-top: 1px solid #ffdfaf;
    border-left: 1px solid #ffdfaf;
    border-bottom: 1px solid #c17400;
}

.button {
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 2px;
    box-shadow: 0 0 0 2px #dae3f2;
    float: center;
}

.button:hover {
    opacity: .7;
}

.centered   {
    text-align: center;
}

ul  {
    list-style-type: none;
    padding: 0px;
}

p   {
    font-family: 'Montserrat';
    color: #757575;
}

.media-body p   {
    margin: 0px 10px;
}

table   {
    font-family: 'Montserrat';
    color: #757575;
}

.table tbody tr td  {
    border-top: 1px solid #dae3f2;
    
}

.table tbody tr:hover  {
    background-color: #EAF2FF;
}

.table thead tr th  {
    border-bottom: 3px solid #dae3f2;
}

.party-box  {
    background-color: #dae3f280;
    margin: 2px;
    height: 40px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 0 2px #dae3f2;
}

.party-box .media-body p    {
    font-size: 8px;
    font-family: 'Aldrich';
    color: #757575;
}

.party-box:hover    {
    opacity: 0.5;
}

.party-info {
    position: relative;
    font-size: 10px;
}

.party-img  {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    opacity: 0.2;
    width: 70px;
}

.health-bar {
    background-color: #dae3f2;
    margin-top: 8px;
}

.health {
    height: 2px;
}

h1  {
    color: #eaf2ff;
    font-size: 16px;
    font-family: 'Aldrich';
    font-weight: 900;
    text-align: center;
    line-height: 0px;
}

.party-box:hover  {
    text-decoration: none;
}

.media-left img {
    width: 28px;
    height: 20px;
}

.party  {
    text-align: center;
}