body    {
    background-color: #f2f2ed;
    background-image: url("../shared-resources/Backdrop.png");
    background-repeat: repeat-x;
    padding: 0px;
    margin: 0px;
    background-size: 1200px;
    background-attachment: fixed;
    min-width: 460px;
}

#logo   {
    height: 100px;
    width: 300px;
    margin: 10px auto;
}

#logo-link  {
    width: 300px!important;
}

#map    {
    background-image: url(../pages/Map/Images/Oak%20Village.png);
}

#wild-bubble    {
    background: radial-gradient(#f4f7fc80,#e5efff);
    height: 130px;
    width: 130px;
    border-radius: 65px;
    border: 4px solid #d0dbed;
    opacity: 0.9;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
}

#wild-bubble:hover  {
    opacity: 1;
}

container:hover #wild-bubble    {
    display: block;
}

#wild-bubble p  {
    margin-top: -10px;
    font-size: 10px;
    color: black;
    font-weight: bold;
}

@media only screen and (min-width: 768px)   {
    .narrow   {
        display: none;
    }
    .party-box  {
        width: 100%;
        padding: 0px;
        
    }
    .party-info {
        padding: 2px 6px;
    }
    
    .nav-bot .container-fluid .navbar-nav .dropdown-toggle:active, .open .dropdown-toggle {
        background: linear-gradient(#204d93, #477dd3);
        border-left: 1px solid #204d9300!important;
        border-right: 1px solid #204d93;
    }
}

@media only screen and (max-width: 1000px)  {
    .revenue    {
        display: none;
    }
}

@media only screen and (max-width: 769px)   {
    #logo   {
        margin-top: 60px;
    }
    .wide   {
        display: none;
    }
    .party-box  {
        width: 100px;
    }
    .nav-bot .container-fluid .navbar-nav .dropdown-toggle:active, .open .dropdown-toggle {
        background: linear-gradient(#477dd3, #477dd3);
        text-shadow: 0 0 5px #00000080;
        color: white;
    }
}

.nav-top    {
    border: none;
    box-shadow: 0px 1px 5px #00000040;
}

.nav-top .container-fluid .navbar-header    {
    background: linear-gradient(#5996f7, #477dd3);
    border: none;
}

.nav-top .container-fluid .navbar-header button {
    border: 1px solid #204d9300;
    background: linear-gradient(#5996f7, #477dd3);
}

.nav-top .container-fluid .navbar-header button:hover   {
    background: linear-gradient(#204d93, #477dd3);
}

.nav-top .container-fluid .navbar-header button:active   {
    background: linear-gradient(#204d93, #477dd3);
}

.nav-top .container-fluid .navbar-collapse  {
    background-color: #477dd3;
    border: none;
}

.nav-top .container-fluid .navbar-collapse li a {
    margin: 2px 10px;
    padding: 4px 8px;
    color: #eaf2ff;
    font-family: 'Aldrich';
}

.nav-top .container-fluid .navbar-collapse li a:hover {
    text-shadow: 0 0 5px #00000080;
        color: white;
}

.nav-top .container-fluid .navbar-collapse .dropdown-menu {
    background-color: #3a6ab7;
    box-shadow: inset 0px 1px 5px #00000040;
    border-radius: 0px;
}


.top-menu   {
    color: #eaf2ff!important;
    font-size: 11px;
    padding: 0px;
    height: 26px;
}

.top-menu:hover   {
    text-shadow: 0 0 5px #00000080;
}




.nav-bot    {
    background: linear-gradient(#5996f7, #477dd3);
    min-height: 20px;
    border: none;
    box-shadow: 0 0 0 1px #204d93;
    border-radius: 4px;
}

.nav-bot .container-fluid {
    padding: 0px;
}


.nav-bot .container-fluid .navbar-nav .dropdown a    {
    min-height: 32px;
    padding: 8px;
    text-align: center;
    color: #eaf2ff;
    border-left: 1px solid #5996f7;
    border-right: 1px solid #204d93;
    font-family: 'Aldrich';
    text-shadow: 1px 1px #204d93;
}

.nav-bot .container-fluid .navbar-nav .dropdown a:hover    {
    color: #fff;
    background: linear-gradient(#204d93, #477dd3);
    border-left: 1px solid #204d9300;
    border-right: 1px solid #204d93;
    text-shadow: 1px 1px #204d93, 0 0 5px #00000000;
}

.nav-bot .container-fluid .navbar-nav .dropdown:last-child a    {
    border-right: none;
}

.nav-bot .container-fluid .navbar-nav .dropdown:first-child a    {
    border-left: none;
}

.nav-bot .container-fluid .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-bot .container-fluid .navbar-nav .dropdown {
    width: 100%;
}

.nav-bot .container-fluid .navbar-nav .dropdown .dropdown-menu {
    width: inherit;
    padding: 0px;
    border-radius: 0px;
}

.nav-bot .container-fluid .navbar-nav .dropdown .dropdown-menu li a {
    text-align: left;
    border: none;
    color: #6983ad;
    background-color: #f4f8ff;
    text-shadow: none;
}

.nav-bot .container-fluid .navbar-nav .dropdown .dropdown-menu li a:hover {
    background-color: #EAF2FF;
    background-image: none;
}

.white-back  {
    background: linear-gradient(#eaf2ff, #dee5ef);
    margin-bottom: 24px;
    padding: 2px 0px 10px 0px;
    border-radius: 6px;
    background-color: rgba(234, 242, 255, .75);
    box-shadow: 0 0 0 3px #dae3f2, 0 0 0 4px #fff, 0px 3px 15px #00000080;
    z-index: -5;
    overflow: hidden;
}

.white-box  {
    margin: 10px -4px;
    padding: 4px 12px 16px 12px;
    background-color: #f4f8ff;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0px 2px 8px #00000026, inset 0 20px 80px #d5deef80;
}

.header {
    margin: -4px -12px 10px -12px;
    background: radial-gradient(ellipse at center, #ffca7a, #ffb03a);
    box-shadow: inset 0 0 8px #ea9619, 0 0 4px #00000040;
    text-align: center;
    text-decoration: none;
    font-family: Calibri;
    font-size: 18px;
    padding: 6px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: white;
    text-shadow: 1px 1px #c17400;
}

.button {
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 2px;
    box-shadow: 0 0 0 2px #dae3f2;
    float: center;
}

.button:hover {
    opacity: .7;
}

.centered   {
    text-align: center;
}

ul  {
    list-style-type: none;
    padding: 0px;
}

p   {
    font-family: 'Calibri';
    color: #757575;
}

.media-body p   {
    margin: 0px 10px;
}

table   {
    font-family: 'Calibri';
    color: #757575;
}

.table tbody tr td  {
    border-top: 1px solid #dae3f2;
    
}

.table tbody tr:hover  {
    background-color: #EAF2FF;
}

.table thead tr th  {
    border-bottom: 3px solid #dae3f2;
}

.party-box  {
    background-color: #dae3f280;
    margin: 2px;
    height: 60px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 0 2px #dae3f2;
}

.party-box .media-body p    {
    font-size: 12px;
    font-family: 'Aldrich';
    color: #757575;
}

.party-box:hover    {
    opacity: 0.5;
}

.party-info {
    position: relative;
    font-size: 10px;
}

.party-img  {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    opacity: 0.2;
    width: 70px;
}

.health-bar {
    background-color: #dae3f2;
    margin-top: 12px;
}

.health {
    height: 4px;
}

.exp-bar {
    background-color: #dae3f2;
    margin-top: 4px;
}

.exp {
    height: 4px;
}

h1  {
    color: #eaf2ff;
    font-size: 16px;
    font-family: 'Aldrich';
    font-weight: 900;
    text-align: center;
    line-height: 0px;
}

.party-box:hover  {
    text-decoration: none;
}


.party  {
    text-align: center;
}